<div class="container  lg:w-4/6">
  <div class="text-md"><a href="/">Samling</a> <!--er vårt levende arkiv av våre favoritter. Vi starter med en minidelikatesse, og kommer til å legge til flere og andre typer produkter i fremtiden.<br><br> Velkommen hit, takk for at du kom innom! <br>Hilsen <a href="https://bakklandetblomster.no">Julie</a> og <a href="https://skogen.io">Magnus</a>--> 
  <br>{{ subtitle }}&nbsp;</div>  
</div>

<div class="container mt-40 ">

<div class="grid grid-cols-12 mb-8 hidden">
  <div class="hidden lg:block col-span-4 xl:col-span-3">
    <div class="text-caps mb-3">Delikatesse</div>
    <ul class="flex text-sm">
    {% for item in linklists.delikatesse.links %}
      <li class="mr-4"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="hidden lg:block col-span-4 xl:col-span-3">
    <div class="text-caps mb-3">Produkter</div>
    <ul class="flex text-sm">
    {% for item in linklists.delikatesse.links %}
      <li class="mr-4"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="hidden lg:block col-span-4 xl:col-span-3">
    <div class="text-caps mb-3">Merkevarer</div>
    <ul class="flex text-sm">
    {% for item in linklists.delikatesse.links %}
      <li class="mr-4"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="grid grid-cols-12 mb-40">

  {% for item in collections['all'].products %}
  {% assign no = '' %}
  {% assign utsolgt = false %}
  {% assign forhand = false %}
  {% for tag in item.tags %}
    {% if tag contains 'NO' %}{% assign no = tag | replace: 'NO-', '' %}{% endif %}
    {% if tag contains 'UTSOLGT' %}{% assign utsolgt = true %}{% endif %}
    {% if tag contains 'FORHAND' %}{% assign forhand = true %}{% endif %}
  {% endfor %}
  {% assign productPrice = item.price_min | money %}
  {{ item.default_variant.title }}
  <a href="{{ item.url }}" class="col-span-6 lg:col-span-4 xl:col-span-3">
    <img src="{{ item.featured_image | img_url: '774x1086', crop: 'center' }}" class="mb-4">
    <div class="lg:flex justify-between">
      <div class="flex items-center">
        {% if no.size > 0 %}<div class="no mr-2 lg:mr-3">{{ no }}</div>{% endif %}
        <div class="text-base">{{ item.title }}</div>
      </div>
      <div class="flex items-baseline">
          {% if item.variants.size > 1 %}<div class="text-sm mr-2">Fra</div>{% endif %}
          <div class="text-base">{{ productPrice }}</div>
      </div>
    </div>
    {% if forhand %}<div class="text-caps mt-2 opacity-75"></div>
    {% elsif utsolgt %}<div class="text-caps mt-2 opacity-75">Utsolgt</div>{% endif %}

  </a>
  {% endfor %}

</div>
</div>
{% include 'footer' %}