{% assign productDescription = product.description | split:"<!-- split -->" %}
{% assign utsolgt = false %}
{% assign forhand = false %}
{% assign highlight = false %}

{% for tag in product.tags %}
	{% if tag contains 'NO' %}{% assign no = tag | replace: 'NO-', '' %}{% endif %}
	{% if tag contains 'UTSOLGT' %}{% assign utsolgt = true %}{% endif %}
	{% if tag contains 'FORHAND' %}{% assign forhand = true %}{% endif %}
	{% if tag contains 'highlight' %}{% assign highlight = tag | replace: 'highlight-', '' %}{% endif %}

{% endfor %}


<div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-12 lg:col-span-6">
        <div class="{% if product.images.size > 1 %}swiper relative {% endif %}swiper-container">

          <div class="swiper-wrapper">
            {% for image in product.images %}
              <div class="swiper-slide"><img src="{{ image.src | img_url: '1600x' }}" width="{{ image.width }}" height="{{ image.height }}" /></div>
            {% endfor %}
          </div>
          {% if product.images.size > 1 %}
          <div class="absolute w-full h-full top-0 left-0 items-center justify-between flex z-10">
            <div class="swiper-next transform rotate-180 p-2 lg:p-4">
              <svg class="w-10 h-10 lg:w-12 lg:h-12" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.5 48.125C38.8909 48.125 48.125 38.8909 48.125 27.5C48.125 16.1091 38.8909 6.875 27.5 6.875C16.1091 6.875 6.875 16.1091 6.875 27.5C6.875 38.8909 16.1091 48.125 27.5 48.125Z" stroke="black" stroke-miterlimit="10"/>
                <path d="M24.9219 19.7656L33.5156 27.5L24.9219 35.2344" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="swiper-prev p-2 lg:p-4">
              <svg class="w-10 h-10 lg:w-12 lg:h-12" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.5 48.125C38.8909 48.125 48.125 38.8909 48.125 27.5C48.125 16.1091 38.8909 6.875 27.5 6.875C16.1091 6.875 6.875 16.1091 6.875 27.5C6.875 38.8909 16.1091 48.125 27.5 48.125Z" stroke="black" stroke-miterlimit="10"/>
                <path d="M24.9219 19.7656L33.5156 27.5L24.9219 35.2344" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">

        {% if no.size > 0 %}<span class="inline-block no mb-4">{{ no }}</span>{% endif %}
        {% if highlight %}<span class="inline-block no mb-4 ">{{ highlight }}%</span>{% endif %}

        <div class="text-xl mb-8">{{ product.title }}</div>
        <div class="text-base">{% if productDescription[0].size > 0 %}{{ productDescription[0] }}{% else %}{{ product.description }}{% endif %}</div>
        
        <form method="post" action="/cart/add" class="lg:flex flex-wrap js-form-add-to-cart mt-16 items-center">
        
          {% if product.variants.size > 1 %}
            {% for variant in product.variants limit:1  %}
              <span class="js-price text-base mr-4 mob:mb-4 inline-block">	          
                {% if variant.compare_at_price > variant.price %}{{ variant.price | money }}<span class="opacity-50" style="text-decoration: line-through">{{ variant.compare_at_price | money }}</span>{% else %}{{ variant.price | money }}{% endif %}
          	  </span>
            {% endfor %}
             
             <div class="flex mob:mb-4 mr-4">
              <div class="relative select mr-4">
                <select class="appearance-none relative select-variant p-2 bg-transparent border text-base js-price-container" name="id">
                  {% for variant in product.variants %}
                    <option data-price="{{ variant.price | money }}" value="{{ variant.id }}"{% if forloop.index == 1 %} selected{% endif %}>{{ variant.title }}</option>
                  {% endfor %}
                  
                </select>
                <svg class="absolute right-0 w-4 h-4 mr-2" style="transform:translateY(-50%); top: 50%;" x-description="Heroicon name: solid/chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path> </svg>
              </div>
              <div class="relative select">
                <select class="appearance-none w-16 lg:w-24 p-2 bg-transparent border text-base" name="quantity">
                  <optgroup label="Antall">
                    <option value="1">1 stk</option>
                    <option value="2">2 stk</option>
                    <option value="3">3 stk</option>
                    <option value="4">4 stk</option>
                    <option value="5">5 stk</option>
                    <option value="6">6 stk</option>
                    <option value="7">7 stk</option>
                    <option value="8">8 stk</option>
                    <option value="9">9 stk</option>
                  </optgroup>

                  
                </select>
                <svg class="absolute right-0 w-4 h-4 mr-2" style="transform:translateY(-50%); top: 50%;" x-description="Heroicon name: solid/chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path> </svg>
              </div>
            </div>
          {% else %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            {% for variant in product.variants limit:1 %}
              <span class="js-price text-base mr-4">{% if variant.compare_at_price > variant.price %}{{ variant.price | money }}<span class="opacity-50" style="text-decoration: line-through">{{ variant.compare_at_price | money }}</span>{% else %}{{ variant.price | money }}{% endif %}</span>
          
            {% endfor %}
          {% endif %}
          {% unless utsolgt %}<button class="text-base border p-2 px-4 border-black bg-black text-bg">Legg i handlekurv</button>{% endunless %}
        </form>

        <div class="text-sm italic mt-6 hidden">Neste dato for henting, levering og sending: 25. juni.</div>
        {% if utsolgt %}<div class="text-sm italic mt-6">Midlertidig utsolgt</div>{% endif %}

          {% if productDescription[2].size > 0 %}<div class="text-sm mt-8 max-w-xl">{{ productDescription[2] }}</div>{% endif %}



      </div>
    </div>
</div>



<div class="container pt-16">
  <div class="border-t pt-16"></div>


  <div class="grid grid-cols-12">

  {% for item in collections['all'].products %}
      {% if item.title != product.title %}
       {% include 'product' %}
      {% endif %}
    {% endfor %}

  </div>
</div>


{% include 'footer' %}